<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway Tickets System</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4; }
        nav { background: #390650; padding: 10px; margin-bottom: 20px; border-radius: 8px; }
        nav a { color: white; text-decoration: none; margin-right: 15px; font-weight: bold; }
        nav a:hover { color: #a817eb; }
        .container { background: white; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
    </style>
</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Головна</a>
        <a href="{% url 'tickets_list' %}">Квитки</a>
        <a href="{% url 'trip_list' %}">Рейси</a>
        <a href="{% url 'passenger_list' %}">Пасажири</a>
        <a href="{% url 'dashboard' %}">📊 Дашборд</a> <a href="/admin/">Адмінка</a>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>