{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/min.css' %}">
    <title>Видалити пасажира</title>
</head>
<body>
    <div class="container">
        <h1>Видалити квиток {{ object }}?</h1>
        <form method="post">{% csrf_token %}
            <button type="submit">Підтвердити</button>
        </form>
        <a href="{% url 'tickets_list' %}">Скасувати</a>
    </div>
</body>
</html>
