{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- cashier_list.html -->
        <h1>Касири</h1>
        <table id="ticketsTable">
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th onclick="sortTable(1)">Прізвище та ім'я</th>
                <th onclick="sortTable(2)">Дата влаштування</th>
            </tr>
            {% for cashier in cashiers %}
                <tr>
                    <td>{{ cashier.id }}</td>
                    <td>{{ cashier.full_name }}</td>
                    <td>{{ cashier.hire_date }}</td>
                </tr>
            {% endfor %}
            
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="btn-secondary">&laquo; Перша</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn-secondary">Попередня</a>
                    {% endif %}

                    <span class="current">
                        Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn-secondary">Наступна</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-secondary">Остання &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
        <a href="{% url 'home' %}">Назад</a>
    </div>
    <script src="{% static 'js/sortTickets.js' %}"></script>
{% endblock %}