{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Пасажири</h1>
        <a href="{% url 'passenger_add' %}">Додати нового пасажира</a>
        <table id="ticketsTable">
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th onclick="sortTable(1)">Прізвище та Ім'я</th>
                <th onclick="sortTable(2)">Паспорт</th>
                <th onclick="sortTable(3)">Вік</th>
            </tr>
            {% for passenger in passengers %}
            <tr>
                    <td>{{ passenger.id }}</td>
                    <td>{{ passenger.full_name }}</td>
                    <td>{{ passenger.passport }}</td>
                    <td>{{ passenger.age }} років</td>
                    <td><a style="border: none; text-decoration: none;" href="{% url 'passenger_edit' passenger.id %}">Редагувати</a></td>
                    <td><a style="border: none; text-decoration: none;" href="{% url 'passenger_delete' passenger.id %}">Видалити</a></td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="btn-secondary">&laquo; Перша</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn-secondary">Попередня</a>
                    {% endif %}

                    <span class="current">
                        Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn-secondary">Наступна</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-secondary">Остання &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
        <a href="{% url 'home' %}">Назад на головну</a>
    </div>
    <script src="{% static 'js/sortTickets.js' %}"></script>
{% endblock %}